@model devinmajordotcom.ViewModels.MainLandingPageViewModel
@{
    var config = Model.LandingPageBannerLinks.FirstOrDefault(x => x.IsEnabled && x.URL == "#server");
}
<div style="display:none;" class="inner cover" id="server">

    @if (config != null)
    {

        <h2 class="title"><strong>@config.Description</strong></h2>
        <hr>
        <p style="color: #71cef5;">@config.Directive</p>
        <hr>
        <div id="pieChartsContainer" class="hardwareDataContainer">
            <div class="row">
                <div id="usageCounters"></div>
                <div id="tempCounters"></div>
                <div id="ramCounters"></div>
                <div id="driveCounters"></div>
            </div>
        </div>
        <div id="lineChartsContainer" class="hardwareDataContainer" style="display:none;">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <div id="chartContainer"></div>
                </div>
            </div>
        </div>
        <div id="customChartsContainer" class="hardwareDataContainer" style="display:none;">
            @using (Ajax.BeginForm("GetServerData", "Home", null, new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, OnSuccess = "addDataAndLabels(data);", OnFailure = "CustomChartAjaxFailure();" }, new { @id = "customChartForm" }))
            {
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <div class="row">
                            <div class="col-sm-6">
                                <span class="glyphicon glyphicon-hdd"></span>&nbsp;
                                @Html.LabelFor(x => x.SelectedHardwareTypeID, new { @style = "font-weight:normal;" })
                            </div>
                            <div class="col-sm-6">
                                @Html.DropDownListFor(o => o.SelectedHardwareTypeID,
                                new SelectList(Model.AvailableHardwareTypes, "Id", "Name"),
                                new
                                {
                                    @class = "form-control graphDataSelector",
                                }
                            )
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <span class="glyphicon glyphicon-time"></span>&nbsp;
                                @Html.LabelFor(x => x.SelectedDateRangeID, new { @style = "font-weight:normal;" })
                            </div>
                            <div class="col-sm-6">
                                @Html.DropDownListFor(o => o.SelectedDateRangeID,
                                new SelectList(Model.AvailableDateRanges, "Id", "Name"),
                                new
                                {
                                    @class = "form-control graphDataSelector",
                                }
                            )
                            </div>
                        </div>
                    </div>
                    <br />
                    <div id="customChartContainer"></div>
                </div>
            }
        </div>
        <br/>
        <div class="row">
            <div class="col-sm-12 text-center">
                <button data-containerid="#pieChartsContainer" style="display:none;" class="btn btn-primary screenSwitcher"><span class="glyphicon glyphicon-dashboard"></span>&nbsp;Live Stats</button>
                <button data-containerid="#lineChartsContainer" class="btn btn-primary screenSwitcher"><span class="glyphicon glyphicon-stats"></span>&nbsp;Live Charts</button>
                <button data-containerid="#customChartsContainer" class="btn btn-primary screenSwitcher"><span class="glyphicon glyphicon-tasks"></span>&nbsp;Custom Graph</button>
            </div>
        </div>
    }

</div>
