@using Newtonsoft.Json
@using devinmajordotcom.ViewModels
@model devinmajordotcom.ViewModels.MainLandingPageViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ControllerName = ViewBag.ControllerName;
}

<div id="mainContainer">

    @Html.Partial("_Apps", Model)

    @Html.Partial("_ServerStatus", Model)

    @Html.Partial("_ContactContent", Model)

    @if (Model.CurrentUserViewModel.UserIsAdmin && Model.CurrentUserViewModel.UserIsActive)
    {
        @Html.Partial("_ApplicationManager", Model.CurrentApplicationConfig)
    }

    @section scripts {
        
        <script>
            var settingsHtml = '@Html.Raw(@Html.Partial("_ApplicationManager", Model.CurrentApplicationConfig).ToHtmlString().Replace(Environment.NewLine, "").Replace("'","\""))';
        </script>

        @if (!Model.CurrentUserViewModel.UserIsAdmin || !Model.CurrentUserViewModel.UserIsActive)
        {
            <script>
                var loginHtml = '@Html.Raw(@Html.Partial("_AdminLoginModal", Model.CurrentUserViewModel).ToHtmlString().Replace(Environment.NewLine, ""))';
                $('body').append(loginHtml);
            </script>
        }

        @if (String.IsNullOrEmpty(Model.CurrentUserViewModel.EmailAddress) && Model.CurrentUserViewModel.UserIsAdmin && Model.CurrentUserViewModel.UserIsActive)
        {
            <script>
                var adminHtml = '@Html.Raw(@Html.Partial("_AdminFirstRunModal", Model.CurrentUserViewModel).ToHtmlString().Replace(Environment.NewLine, ""))';
                $('body').append(adminHtml);
                $("#adminFirstRunFormModal").modal();
            </script>
        }

    }

</div>

@Html.Partial("../MediaDashboard/_NewLink")
@Html.Partial("_NewBannerLink")
@Html.Partial("_NewSiteLink")
@Html.Partial("../Portfolio/_NewTechSkill")
@Html.Partial("../Portfolio/_NewLanguageSkill")
@Html.Partial("../Portfolio/_NewContactLink")