@{
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/mediacss")
</head>

<body>

    <div id="nav">
        <ul class="menu toggled nav" id="menu">
            
            <li title="home"><span class="sidebarItem"><a href="#" class="active home">home</a></span></li>
            <li title="search"><span class="sidebarItem"><a href="#" class="search">search</a></span></li>
            <li title="pencil"><span class="sidebarItem"><a href="#" class="pencil">pencil</a></span></li>
            <li title="about"><span class="sidebarItem"><a href="#" class="about">about</a></span></li>
            <li title="archive"><span class="sidebarItem"><a href="#" class="archive">archive</a></span></li>
            <li title="contact"><span class="sidebarItem"><a href="#" class="contact">contact</a></span></li>

        </ul>
    </div>
    <div id="nav1"></div>

    @*<ul class="menu toggled" id="menu" >
        <li title="home"><span class="sidebarItem"><a href="#" class="active home">home</a></span></li>
        <li title="search"><span class="sidebarItem"><a href="#" class="search">search</a></span></li>
        <li title="pencil"><span class="sidebarItem"><a href="#" class="pencil">pencil</a></span></li>
        <li title="about"><span class="sidebarItem"><a href="#" class="about">about</a></span></li>
        <li title="archive"><span class="sidebarItem"><a href="#" class="archive">archive</a></span></li>
        <li title="contact"><span class="sidebarItem"><a href="#" class="contact">contact</a></span></li>
    </ul>*@

    <div id="site-wrapper" class="site-wrapper">

        <iframe style="width:100%;height:100%;position:relative;z-index:-1; border:none;" src="http://70.76.54.169:32400"></iframe>
        @*<iframe src="http://70.76.54.169:3579"></iframe>
        <iframe src="http://70.76.54.169:5050"></iframe>
        <iframe src="http://70.76.54.169:8989"></iframe>
        <iframe src="http://70.76.54.169:7171/home"></iframe>
        <iframe src="http://70.76.54.169:8112"></iframe>*@

    </div>




    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/mediaScripts")

</body>
</html>