@using devinmajordotcom.Helpers;
@model devinmajordotcom.ViewModels.MediaDashboardViewModel
@{
    Layout = "../Shared/_MediaLayout.cshtml";
}

<div class="wrapper">

    <nav id="sidebar" class="active text-center">

        <!-- Sidebar Header -->
        <div class="sidebar-header">
            <h3>
                My Media Dashboard
            </h3>
            <strong>
                M D
            </strong>
        </div>

        <!-- Sidebar Links -->
        <ul class="list-unstyled components menu">
            @if (Model.SidebarLinks.Count > 0)
            {
                foreach (var sidebarLink in Model.SidebarLinks.Where(x => x.IsEnabled))
                {
                    <li data-newtitle="@sidebarLink.DisplayName" @if(sidebarLink.IsDefault) {<text>class="active"</text>}>
                        <a href="#" data-framename="@sidebarLink.ID">
                            <i class="fa @sidebarLink.DisplayIcon"></i>
                            <span class="displayName">@sidebarLink.DisplayName</span>
                        </a>
                    </li>
                }
            }
        </ul>
        <button type="button" class="btn btn-info navbar-btn sidebarCollapse" >
            <span class="glyphicon glyphicon-resize-full"></span>
        </button>
    </nav>


    <div id="content">
        @if (Model.SidebarLinks.Count > 0)
        {
            var count = 0;
            foreach (var link in Model.SidebarLinks.Where(x => x.IsEnabled))
            {
                if (link.URL != null)
                {
                    <iframe src="@Model.SidebarLinks[count].URL"
                            style="width: 100%; min-height: 100%; z-index: -1; border: none; @if (!Model.SidebarLinks[count].IsDefault) { <text>display:none;</text> }"
                            id="@Model.SidebarLinks[count].ID"
                            scrolling="auto"
                            sandbox="allow-forms allow-same-origin allow-pointer-lock allow-scripts allow-popups allow-modals"
                            allowfullscreen="true"
                            webkitallowfullscreen="true"
                            class="z-iframe"
                            frameborder="0"></iframe>
                }
                else
                {
                    //TODO: Add something here, preferably make use of Controller/Action variables
                }
                count++;
            }
        }
        else
        {
            @Html.Partial("../Error/Error", new HandleErrorInfo(new Exception(), "MediaDashboard", "Index"))
        }
    </div>
</div>