@model devinmajordotcom.ViewModels.UserViewModel
@{ 
    var controllerName = (string)ViewBag.ControllerName;
}
<div class="modal fade" id="LoginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content modal-popup">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">

                        <div class="col-md-12 col-sm-12">

                            <div class="modal-title">
                                <h2>devinmajor.com</h2>
                            </div>

                            <!-- NAV TABS -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="active"><a href="#sign_in" aria-controls="sign_in" role="tab" data-toggle="tab">Sign into your Account</a></li>
                            </ul>

                            <!-- TAB PANES -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade in active" id="sign_in">
                                    @using (Ajax.BeginForm("AdminLogin", controllerName, new AjaxOptions { AllowCache = false, HttpMethod = "Post", InsertionMode = InsertionMode.Replace, OnSuccess = "HideLoginModal(data)", OnFailure = "LoginFailure()" }, new { @class = "loginForm" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.HiddenFor(x => x.UserID)
                                        @Html.HiddenFor(x => x.GUID)
                                        @Html.Hidden("IsSigningUp", "False")
                                        <div class="row">
                                            <div class="col-sm-12 text-left">
                                                <span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Email Address or Username: @*@Html.LabelFor(x => x.UserName)*@
                                            </div>
                                            <div class="col-sm-12 text-center">
                                                @Html.TextBox("UserName", "", new { @class = "form-control signInUserName", @id = "UserName", placeholder = "someone@domain.com" })
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-sm-12 text-left">
                                                <span class="glyphicon glyphicon-lock"></span>&nbsp;&nbsp;@Html.LabelFor(x => x.Password)
                                            </div>
                                            <div class="col-sm-12 text-center">
                                                @Html.TextBoxFor(x => x.Password, new { @class = "form-control passwordField", @Value = "", @required = "required", placeholder = "********", type="password" })
                                            </div>
                                        </div>
                                        <br/>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <button type="button" onclick="$('#passwordResetForm').trigger('submit'); $('.spinner').fadeIn(500);" class="btn btn-link" style="text-decoration:none;"><span class="glyphicon glyphicon-question-sign"></span>&nbsp;Forgot your password?</button>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row text-center">
                                            <div class="col-sm-12">
                                                @Html.ValidationMessageFor(x => x.UserName)
                                            </div>
                                            <div class="col-sm-12">
                                                @Html.ValidationMessageFor(x => x.Password)
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="spinner" style="display: none;position:relative;top:-10px;">
                                                    <span class="spinner-rotate"></span>
                                                    <br />
                                                </div>
                                            </div>
                                        </div>
                                        <br/>
                                        <button type="submit" class="form-control modalSubmit" style="background: #ce3232; color: white;border-radius: 100px;margin-top: 20px;"><span class="glyphicon glyphicon-log-in"></span>&nbsp;&nbsp;Log In!</button>
                                    }
                                    @using (Ajax.BeginForm("SendPasswordResetEmail", "Home", null, new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, OnSuccess = "PasswordResetSuccess(data);", OnFailure = "PasswordResetFailure(data);" }, new { @id = "passwordResetForm" }))
                                    {
                                        @Html.HiddenFor(x => x.GUID)
                                        @Html.Hidden("UserName", null, new { @id = "notUserName", @class = "hiddenSignInUserName", required = "required" })
                                        @Html.ValidationMessageFor(x => x.UserName)
                                    }
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
