@using devinmajordotcom.ViewModels;
@{
    var viewModel = ViewBag.CurrentUserViewModel;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
</head>

<body>

    <div class="site-wrapper">

        <div class="site-wrapper-inner">

            <div class="cover-container">

                <div class="masthead clearfix" style="background-color:#0B1C1E; z-index: 2000;min-height: 85px; padding:2px;">
                    <div class="inner">
                        <h3 class="masthead-brand">@ViewBag.Title</h3>
                        <ul class="nav masthead-nav">
                            <li class="landingPageLink active" data-activediv="#home"><a>Home & Apps</a></li>
                            <li class="landingPageLink" data-activediv="#server"><a>Server Status</a></li>
                            <li class="landingPageLink" data-activediv="#contact"><a>Contact Me</a></li>
                            @if (viewModel.UserIsAdmin)
                            {
                                <li class="landingPageLink" data-activediv="#appmanager"><a>App Manager</a></li>
                            }
                        </ul>
                    </div>
                </div>

                @RenderBody()

            </div>

        </div>

    </div>

    <div id="bootsnackAlertContainer" class="bootsnack"></div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/customScripts")

    @RenderSection("scripts", required: false)

</body>
</html>