<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <!-- SITE TITLE -->
    <title>@ViewBag.Title</title>

    <!-- FAVICON -->
    @*<link rel="SHORTCUT ICON" href="images/favicon.ico" type="image/x-icon" />*@
    
    <link rel="apple-touch-icon" sizes="180x180" href="@Url.Action("../Content/Images/favicon/apple-touch-icon.png")">
    <link rel="icon" type="image/png" sizes="32x32" href="@Url.Action("../Content/Images/favicon/favicon-32x32.png")">
    <link rel="icon" type="image/png" sizes="16x16" href="@Url.Action("../Content/Images/favicon/favicon-16x16.png")">
    <link rel="manifest" href="@Url.Action("../Content/Images/favicon/site.webmanifest")">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!-- STYLESHEETS -->
    @*<link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/templatemo-style.css">*@
    @Styles.Render("~/Content/portfoliocss")
    <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600,700' rel='stylesheet' type='text/css'>

</head>

<body data-spy="scroll" data-target="#rock-navigation">

    <!-- START NAVIGATION -->
    <div class="navbar navbar-default bs-dos-nav navbar-fixed-top sticky-navigation" role="navigation">
        <div class="container">

            <div class="navbar-header">
                <button class="navbar-toggle" data-toggle="collapse" data-target="#rock-navigation">
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand">My Professional Portfolio</a>
            </div>
            <nav class="collapse navbar-collapse" id="rock-navigation">
                <ul class="nav navbar-nav navbar-right main-navigation text-uppercase">
                    <li><a href="#home" class="smoothScroll">Home</a></li>
                    <li><a href="#work" class="smoothScroll">My Work</a></li>
                    <li><a href="#portfolio" class="smoothScroll">Projects</a></li>
                    <li><a href="#resume" class="smoothScroll">Resume</a></li>
                    <li><a href="#about" class="smoothScroll">About</a></li>
                </ul>
            </nav>

        </div>
    </div>
    <!-- END NAVIGATION -->

    @RenderBody()

    @*<script src="~/Scripts/jquery-3.2.1.js"></script>*@
@*<script src="~/Scripts/bootstrap.min.js"></script>*@
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/portfolioScripts")
    @*<script src="~/Scripts/smoothscroll.js"></script>
    <script src="~/Scripts/jquery.nav.js"></script>
    <script src="~/Scripts/isotope.js"></script>
    <script src="~/Scripts/imagesloaded.min.js"></script>
    <script src="~/Scripts/custom.js"></script>*@

</body>
</html>
