@model devinmajordotcom.ViewModels.UserViewModel
@{
    var controllerName = (string)ViewBag.ControllerName;
    var a = Model;
}
@using (Ajax.BeginForm("UpdateCurrentUser", controllerName, null, new AjaxOptions { AllowCache = false, HttpMethod = "Post", InsertionMode = InsertionMode.Replace, OnSuccess = "UpdateCredentialsSuccess", OnFailure = "UpdateCredentialsFailure" }, new { @id = "updateCredsForm" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.UserIsActive, new { @id="hiddenActive1"})
    @Html.HiddenFor(x => x.UserIsAdmin, new { @id = "hiddenAdmin1" })
    @Html.HiddenFor(x => x.UserID, new { @id="UserID4" })
    @Html.HiddenFor(x => x.GUID, new { @id = "hiddenGUID4" })
    @Html.Hidden("IsSigningUp", "False", new { @id = "IsSigningUp9" })
    @Html.Hidden("IsUpdatingCredentials", "True", new { @id = "IsUpdatingCredentials9" })
    <div class="row">
        <div class="col-sm-12 text-left">
            <span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;@Html.LabelFor(x => x.EmailAddress)
        </div>
        <div class="col-sm-12 text-center">
            @Html.TextBoxFor(x => x.EmailAddress, new { @class = "form-control", style= "color:white !important;", @id = "emailUpdate1", @required = "required", @type = "email", placeholder = "someone@domain.com" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-12 text-left">
            <span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;@Html.LabelFor(x => x.UserName)
        </div>
        <div class="col-sm-12 text-center">
            @Html.TextBoxFor(x => x.UserName, new { @class = "form-control", style = "color:white !important;", @id = "UserName7", placeholder = "user_123" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-12 text-left">
            <span class="glyphicon glyphicon-lock"></span>&nbsp;&nbsp;@Html.LabelFor(x => x.Password)
        </div>
        <div class="col-sm-12 text-center">
            @Html.TextBox("Password", "", new { @class = "form-control", style = "color:white !important;", @id = "Password9", @required = "required", @Value = "", placeholder = "********", type = "password" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-12 text-left">
            <span class="glyphicon glyphicon-lock"></span>&nbsp;&nbsp;@Html.LabelFor(x => x.ConfirmedPassword)
        </div>
        <div class="col-sm-12 text-center">
            @Html.TextBox("ConfirmedPassword", "", new { @class = "form-control", style = "color:white !important;", @id = "PasswordConfirm9", @required = "required", @Value = "", placeholder = "********", type = "password" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-12">
            @Html.ValidationMessageFor(x => x.EmailAddress)
        </div>
        <div class="col-sm-12">
            @Html.ValidationMessageFor(x => x.UserName)
        </div>
        <div class="col-sm-12">
            @Html.ValidationMessageFor(x => x.Password)
        </div>
        <div class="col-sm-12">
            @Html.ValidationMessageFor(x => x.ConfirmedPassword)
        </div>
        <div class="spinner" style="display: none;">
            <span class="spinner-rotate"></span>
        </div>
    </div>
    <br />
    <button type="submit" class="form-control modalSubmit" style="background: #ce3232; color: white;border-radius: 100px;margin-top: 20px;"><span class="glyphicon glyphicon-floppy-save"></span>&nbsp;&nbsp;Update Your Account!</button>
}