@model devinmajordotcom.ViewModels.UserViewModel
@{
    Layout = "_Layout.cshtml";
    ViewBag.CurrentUserViewModel = Model;
    ViewBag.bannerLinks = ViewBag.bannerLinks;
    ViewBag.config = ViewBag.config;
}

@using (Html.BeginForm("ResetPassword", "MyHome", FormMethod.Post))
{

    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.GUID)
    @Html.HiddenFor(x => x.EmailAddress)
    @Html.HiddenFor(x => x.UserIsActive)
    @Html.HiddenFor(x => x.UserIsAdmin)
    @Html.HiddenFor(x => x.UserName)

    <div class="row absolute-center">
        <div class="col-sm-12 text-center">
            <h2 class="text-center" style="font-size: 50px;"><span class="glyphicon glyphicon-off"></span>&nbsp;Reset Your Password</h2>
            <hr>
            <h4 class="text-center">Please enter your new password below, and then confirm it and click "Submit". It may not be the same as your old password. Caution! There is no going back after this... make it something memorable.</h4>
            <br />
            <div class="row">
                <div class="col-sm-6">
                    <span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;
                    @Html.LabelFor(x => x.Password, new { style = "font-weight:normal;" })
                </div>
                <div class="col-sm-6">
                    @Html.TextBox("Password", null, new { @class = "form-control", @type = "password", value = "" })
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;
                    @Html.LabelFor(x => x.ConfirmedPassword, new { style = "font-weight:normal;" })
                </div>
                <div class="col-sm-6">
                    @Html.TextBoxFor(x => x.ConfirmedPassword, new { @class = "form-control", @type = "password" })
                </div>
            </div>
            <div class="col-sm-12 text-center">
                @Html.ValidationMessageFor(x => x.Password)
                @Html.ValidationMessageFor(x => x.ConfirmedPassword)
            </div>
            <hr />
            <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-log-in"></span>&nbsp;Submit</button>
        </div>
    </div>
}