@model devinmajordotcom.ViewModels.PortfolioViewModel
@{ 

}

@using (Ajax.BeginForm("_ManagePortfolio", "Portfolio", null, new AjaxOptions { HttpMethod = "Post", OnSuccess = "MailSuccess(data)", OnFailure = "MailFailure(data)" }, new { @id = "updatePortfolioForm" }))
{
    <div class="panel-group">
        <div class="panel panel-default" style="margin-bottom: 1vh; -webkit-box-shadow: 2.5px 2.5px 5px 2.5px rgba(245,245,245,1);
        -moz-box-shadow: 2.5px 2.5px 5px 2.5px rgba(245,245,245,1);
        box-shadow: 2.5px 2.5px 5px 2.5px rgba(245,245,245,1);">
            <div class="panel-heading portfolioPanelHeading" data-toggle="collapse" href="#collapse1">
                <span class="glyphicon glyphicon-collapse-up glyphicon-collapse-down"></span>
                &nbsp;&nbsp;
                <h4 class="panel-title" style="display: inline;">
                    <a>Splash Screen</a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-6">
                            @Html.LabelFor(x => x.SplashScreenDetails.FirstName)
                        </div>
                        <div class="col-sm-6">
                            @Html.TextBoxFor(x => x.SplashScreenDetails.FirstName, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            @Html.ValidationMessageFor(x => x.SplashScreenDetails.FirstName)
                        </div>
                    </div>

                    <br />

                    <div class="row">
                        <div class="col-sm-6">
                            @Html.LabelFor(x => x.SplashScreenDetails.LastName)
                        </div>
                        <div class="col-sm-6">
                            @Html.TextBoxFor(x => x.SplashScreenDetails.LastName, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            @Html.ValidationMessageFor(x => x.SplashScreenDetails.LastName)
                        </div>
                    </div>

                    <br />

                    <div class="row">
                        <div class="col-sm-6">
                            @Html.LabelFor(x => x.SplashScreenDetails.PositionTitle)
                        </div>
                        <div class="col-sm-6">
                            @Html.TextBoxFor(x => x.SplashScreenDetails.PositionTitle, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            @Html.ValidationMessageFor(x => x.SplashScreenDetails.PositionTitle)
                        </div>
                    </div>

                    <br />

                    <div class="row">
                        <div class="col-sm-6">
                            @Html.LabelFor(x => x.SplashScreenDetails.PersonalDescription)
                        </div>
                        <div class="col-sm-6">
                            @Html.TextBoxFor(x => x.SplashScreenDetails.PersonalDescription, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            @Html.ValidationMessageFor(x => x.SplashScreenDetails.PersonalDescription)
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default" style="margin-bottom: 1vh; -webkit-box-shadow: 2.5px 2.5px 5px 2.5px rgba(245,245,245,1);
        -moz-box-shadow: 2.5px 2.5px 5px 2.5px rgba(245,245,245,1);
        box-shadow: 2.5px 2.5px 5px 2.5px rgba(245,245,245,1);">
            <div class="panel-heading portfolioPanelHeading" data-toggle="collapse" href="#collapse2">
                <span class="glyphicon glyphicon-collapse-up glyphicon-collapse-down"></span>
                &nbsp;&nbsp;
                <h4 class="panel-title" style="display: inline;">
                    <a>Personal Profile</a>
                </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">

                    <h5>General Details</h5>

                    <div class="row">
                        <div class="col-sm-6">
                            @Html.LabelFor(x => x.ProfileDetails.DateOfBirth)
                        </div>
                        <div class="col-sm-6">
                            @Html.TextBoxFor(x => x.ProfileDetails.DateOfBirth, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            @Html.ValidationMessageFor(x => x.ProfileDetails.DateOfBirth)
                        </div>
                    </div>

                    <br />

                    <div class="row">
                        <div class="col-sm-6">
                            @Html.LabelFor(x => x.ProfileDetails.Address)
                        </div>
                        <div class="col-sm-6">
                            @Html.TextBoxFor(x => x.ProfileDetails.Address, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            @Html.ValidationMessageFor(x => x.ProfileDetails.Address)
                        </div>
                    </div>

                    <br />

                    <div class="row">
                        <div class="col-sm-6">
                            @Html.LabelFor(x => x.ProfileDetails.PhoneNumber)
                        </div>
                        <div class="col-sm-6">
                            @Html.TextBoxFor(x => x.ProfileDetails.PhoneNumber, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            @Html.ValidationMessageFor(x => x.ProfileDetails.PhoneNumber)
                        </div>
                    </div>

                    <br />

                    <div class="row">
                        <div class="col-sm-6">
                            @Html.LabelFor(x => x.ProfileDetails.Email)
                        </div>
                        <div class="col-sm-6">
                            @Html.TextBoxFor(x => x.ProfileDetails.Email, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            @Html.ValidationMessageFor(x => x.ProfileDetails.Email)
                        </div>
                    </div>

                    <br />

                    <div class="row">
                        <div class="col-sm-6">
                            @Html.LabelFor(x => x.ProfileDetails.WebsiteText)
                        </div>
                        <div class="col-sm-6">
                            @Html.TextBoxFor(x => x.ProfileDetails.WebsiteText, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            @Html.ValidationMessageFor(x => x.ProfileDetails.WebsiteText)
                        </div>
                    </div>

                    <br />

                    <div class="row">
                        <div class="col-sm-6">
                            @Html.LabelFor(x => x.ProfileDetails.WebsiteURL)
                        </div>
                        <div class="col-sm-6">
                            @Html.TextBoxFor(x => x.ProfileDetails.WebsiteURL, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            @Html.ValidationMessageFor(x => x.ProfileDetails.WebsiteURL)
                        </div>
                    </div>

                    <br />

                    <h5>General Details</h5>

                    <div class="row">
                        <div class="col-sm-6">
                            @Html.LabelFor(x => x.PersonalDescription.Adjective1)
                        </div>
                        <div class="col-sm-6">
                            @Html.TextBoxFor(x => x.PersonalDescription.Adjective1, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            @Html.ValidationMessageFor(x => x.PersonalDescription.Adjective1)
                        </div>
                    </div>

                    <br />

                    <div class="row">
                        <div class="col-sm-6">
                            @Html.LabelFor(x => x.PersonalDescription.Adjective2)
                        </div>
                        <div class="col-sm-6">
                            @Html.TextBoxFor(x => x.PersonalDescription.Adjective2, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            @Html.ValidationMessageFor(x => x.PersonalDescription.Adjective2)
                        </div>
                    </div>

                    <br />

                    <div class="row">
                        <div class="col-sm-6">
                            @Html.LabelFor(x => x.PersonalDescription.Adjective3)
                        </div>
                        <div class="col-sm-6">
                            @Html.TextBoxFor(x => x.PersonalDescription.Adjective3, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            @Html.ValidationMessageFor(x => x.PersonalDescription.Adjective3)
                        </div>
                    </div>

                    <br />

                    <div class="row">
                        <div class="col-sm-6">
                            @Html.LabelFor(x => x.PersonalDescription.Blurb)
                        </div>
                        <div class="col-sm-6">
                            @Html.TextBoxFor(x => x.PersonalDescription.Blurb, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            @Html.ValidationMessageFor(x => x.PersonalDescription.Blurb)
                        </div>
                    </div>

                    <br />

                </div>
            </div>
        </div>
        <div class="panel panel-default" style="margin-bottom: 1vh; -webkit-box-shadow: 2.5px 2.5px 5px 2.5px rgba(245,245,245,1);
        -moz-box-shadow: 2.5px 2.5px 5px 2.5px rgba(245,245,245,1);
        box-shadow: 2.5px 2.5px 5px 2.5px rgba(245,245,245,1);">
            <div class="panel-heading portfolioPanelHeading" data-toggle="collapse" href="#collapse3">
                <span class="glyphicon glyphicon-collapse-up glyphicon-collapse-down"></span>
                &nbsp;&nbsp;
                <h4 class="panel-title" style="display: inline;">
                    <a>Skills</a>
                </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
                <div class="panel-body">

                    <h5>Highlighted Skills</h5>

                    @{
                        var count = 0;
                        var extraDiv = "</div><br/><div class='row'>";
                        if (Model.HighlightedWorkSkills != null)
                        {
                            foreach (var workItem in Model.HighlightedWorkSkills)
                            {
                                if (count % 3 == 0)
                                {
                                    @Html.Raw(extraDiv)
                                }
                                <div class="col-md-4 col-sm-4">
                                    <div class="work-wrapper">
                                        @*<i class="@workItem.SkillIcon"></i>*@
                                        <span class="input-group-btn">
                                            <button data-placement="left"
                                                    class="btn btn-default iconpicker"
                                                    name="@Html.NameFor(x => x.HighlightedWorkSkills[count].SkillIcon)"
                                                    role="iconpicker"
                                                    data-iconset="fontawesome"
                                                    data-icon="@Model.HighlightedWorkSkills[count].SkillIcon"
                                                    type="button"></button>
                                        </span>
                                        @Html.TextBoxFor(x => x.HighlightedWorkSkills[count].SkillTitle, new { @class = "form-control text-uppercase tm-work-h3", @placeholder = "Skill Title (Ex: Paleontology)" })
                                        <hr>
                                        @Html.TextBoxFor(x => x.HighlightedWorkSkills[count].SkillDetails, new { @class = "form-control", @placeholder = "Skill Description (Ex: I dig up bones and recreate skeletons of ancient, extinct animal species)" })
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <br />
                                            @Html.ValidationMessageFor(x => x.HighlightedWorkSkills[count].SkillIcon)
                                            @Html.ValidationMessageFor(x => x.HighlightedWorkSkills[count].SkillTitle)
                                            @Html.ValidationMessageFor(x => x.HighlightedWorkSkills[count].SkillDetails)
                                        </div>
                                    </div>
                                </div>
                                count = count + 1;
                            }
                        }
                    }

                    <h5>Technical Skills</h5>


                    <h5>Language Skills</h5>

                </div>
            </div>
        </div>
        <div class="panel panel-default" style="margin-bottom: 1vh; -webkit-box-shadow: 2.5px 2.5px 5px 2.5px rgba(245,245,245,1);
        -moz-box-shadow: 2.5px 2.5px 5px 2.5px rgba(245,245,245,1);
        box-shadow: 2.5px 2.5px 5px 2.5px rgba(245,245,245,1);">
            <div class="panel-heading portfolioPanelHeading" data-toggle="collapse" href="#collapse4">
                <span class="glyphicon glyphicon-collapse-up glyphicon-collapse-down"></span>
                &nbsp;&nbsp;
                <h4 class="panel-title" style="display: inline;">
                    <a>Projects</a>
                </h4>
            </div>
            <div id="collapse4" class="panel-collapse collapse">
                <div class="panel-body">
                </div>
            </div>
        </div>
        <div class="panel panel-default" style="margin-bottom: 1vh; -webkit-box-shadow: 2.5px 2.5px 5px 2.5px rgba(245,245,245,1);
        -moz-box-shadow: 2.5px 2.5px 5px 2.5px rgba(245,245,245,1);
        box-shadow: 2.5px 2.5px 5px 2.5px rgba(245,245,245,1);">
            <div class="panel-heading portfolioPanelHeading" data-toggle="collapse" href="#collapse5">
                <span class="glyphicon glyphicon-collapse-up glyphicon-collapse-down"></span>
                &nbsp;&nbsp;
                <h4 class="panel-title" style="display: inline;">
                    <a>Contact Links</a>
                </h4>
            </div>
            <div id="collapse5" class="panel-collapse collapse">
                <div class="panel-body">
                </div>
            </div>
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-sm-offset-2 col-sm-8">
            <input class="form-control" id="updatePortfolio" type="submit" value="Update Professional Portfolio">
        </div>
    </div>

}
