@model devinmajordotcom.ViewModels.PortfolioViewModel
@{
    var uploadButton = Ajax.ActionLink("REPLACE", "UploadTemplate", "Home",
        new AjaxOptions
        {
            HttpMethod = "GET",
            InsertionMode = InsertionMode.Replace,
            OnComplete = "InitializeModal('#formModalImageUploader', 'Background Image Uploader');",
            OnFailure = "SettingsUpdateFailure();",
            UpdateTargetId = "formModalBodyHolderUpload"
        },
        new
        {
            @class = "btn btn-default",
            @onClick = "ResetActiveImage(this)"
        }).ToHtmlString().Replace("REPLACE", "<span class=\"fa fa-upload\"></span>&nbsp;&nbsp;Change Image...");
    var count = 0;
}
<div class="panel panel-default" style="margin-bottom: 1vh; -webkit-box-shadow: 2.5px 2.5px 5px 2.5px rgba(245,245,245,1);
                                      -moz-box-shadow: 2.5px 2.5px 5px 2.5px rgba(245,245,245,1);
                                      box-shadow: 2.5px 2.5px 5px 2.5px rgba(245,245,245,1);">
    <div class="panel-heading portfolioPanelHeading" data-toggle="collapse" href="#collapse45">
        <span class="glyphicon glyphicon-collapse-up glyphicon-collapse-down"></span>
        &nbsp;&nbsp;
        <h4 class="panel-title" style="display: inline;">
            <a>Career & Academics</a>
        </h4>
    </div>
    <div id="collapse45" class="panel-collapse collapse">
        <div class="panel-body">
            
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h3>Academics</h3>
                </div>
            </div>

            <div id="academicsContainer" style="overflow: auto !important;" class="">
                <ul id="academicsList" class="mediaSortable">

                    @foreach (var academic in Model.Academics)
                    {
                        @Html.HiddenFor(x => x.Academics[count].ID, new {@class = "hiddenAcademicID hiddenInput_" + Model.Academics[count].ID})
                        <li class="academicLink handlebarsItem" id="academicLink_@count" style="padding-top: 10px; margin-bottom: 2vh;">
                            <div class="row">
                                <div class="col-sm-8 col-sm-offset-2 text-center">
                                    <h4>
                                        <span class="titleContainer">@Model.Academics[count].CertificateName</span>
                                    </h4>
                                </div>
                                <div class="col-sm-2">
                                    @{
                                        var linkText = "<span class='fa fa-trash'></span>";
                                        var actionLink = Ajax.ActionLink("REPLACE", "RemoveAcademic", "Portfolio", new {ID = Model.Academics[count].ID}, new AjaxOptions() {HttpMethod = "GET", OnSuccess = "RemoveAcademic('#deleteAcademic_" + Model.Academics[count].ID + "')", OnFailure = "ManagePortfolioCareerAjaxFailure"}, new {data_content = linkText, @id = "deleteAcademic_" + Model.Academics[count].ID, @class = "btn btn-danger deleteGroup deleteAcademicLink", @style = "float:right;"});
                                        @Html.Raw(actionLink.ToHtmlString().Replace("REPLACE", linkText))
                                    }
                                </div>
                            </div>

                            <br/>

                            <div class="row">
                                <div class="col-sm-12 text-center">
                                    <span class="glyphicon glyphicon-certificate"></span>&nbsp;&nbsp;
                                    @Html.LabelFor(x => x.Academics[count].CertificateName, new {@style = "font-weight:normal;position:relative;"})
                                </div>
                                <div class="col-sm-12 text-center">
                                    @Html.TextBoxFor(x => x.Academics[count].CertificateName, new {@class = "form-control namer", style = "margin-bottom: 0px;text-align:center;", placeholder = "Display Name"})
                                </div>
                            </div>

                            <br/>
                            
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="row">
                                        <div class="col-sm-12 text-center">
                                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;
                                            @Html.LabelFor(x => x.Academics[count].ProgramName, new {@style = "font-weight:normal;position:relative;"})
                                        </div>
                                        <div class="col-sm-12 text-center">
                                            @Html.TextBoxFor(x => x.Academics[count].ProgramName, new {@class = "form-control"})
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="row">
                                        <div class="col-sm-12 text-center">
                                            <span class="glyphicon glyphicon-education"></span>&nbsp;&nbsp;
                                            @Html.LabelFor(x => x.Academics[count].SchoolName, new {@style = "font-weight:normal;position:relative;"})
                                        </div>
                                        <div class="col-sm-12 text-center">
                                            @Html.TextBoxFor(x => x.Academics[count].SchoolName, new {@class = "form-control"})
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <br/>
                            
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="row">
                                        <div class="col-sm-12 text-center">
                                            <span class="glyphicon glyphicon-calendar"></span>&nbsp;&nbsp;
                                            @Html.LabelFor(x => x.Academics[count].StartDate, new {@style = "font-weight:normal;position:relative;"})
                                        </div>
                                        <div class="col-sm-12 text-center">
                                            @Html.TextBoxFor(x => x.Academics[count].StartDate, new {@class = "form-control"})
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="row">
                                        <div class="col-sm-12 text-center">
                                            <span class="glyphicon glyphicon-calendar"></span>&nbsp;&nbsp;
                                            @Html.LabelFor(x => x.Academics[count].EndDate, new {@style = "font-weight:normal;position:relative;"})
                                        </div>
                                        <div class="col-sm-12 text-center">
                                            @Html.TextBoxFor(x => x.Academics[count].EndDate, new {@class = "form-control"})
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12 text-center">
                                    @Html.ValidationMessageFor(x => x.Academics[count].CertificateName)
                                </div>
                            </div>
                        </li>
                        count++;
                    }
                </ul>
            </div>

            <div class="row">
                <div class="col-sm-offset-2 col-sm-8">
                    <button class="form-control btn btn-success" id="addNewAcademicLink" type="button" style="border-color: #00bc8c !important; background-color: #00bc8c !important;"><span class="glyphicon glyphicon-plus"></span>&nbsp;Add New Academic</button>
                </div>
            </div>

            <br/>
            
            @{
                count = 0;
            }
            
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h3>Career History</h3>
                </div>
            </div>
            
            <div id="jobsContainer" style="overflow: auto !important;" class="">
                <ul id="jobsList" class="mediaSortable">

                    @foreach (var job in Model.Jobs)
                    {
                        @Html.HiddenFor(x => x.Jobs[count].ID, new {@class = "hiddenJobID hiddenInput_" + Model.Jobs[count].ID})
                        <li class="jobLink handlebarsItem" id="jobLink_@count" style="padding-top: 10px; margin-bottom: 2vh;">
                            <div class="row">
                                <div class="col-sm-8 col-sm-offset-2 text-center">
                                    <h4>
                                        <span class="titleContainer">@Model.Jobs[count].JobTitle</span>
                                    </h4>
                                </div>
                                <div class="col-sm-2">
                                    @{
                                        var linkText = "<span class='fa fa-trash'></span>";
                                        var actionLink = Ajax.ActionLink("REPLACE", "RemoveJob", "Portfolio", new {ID = Model.Jobs[count].ID}, new AjaxOptions() {HttpMethod = "GET", OnSuccess = "RemoveJob('#deleteJob_" + Model.Jobs[count].ID + "')", OnFailure = "ManagePortfolioCareerAjaxFailure"}, new {data_content = linkText, @id = "deleteJob_" + Model.Jobs[count].ID, @class = "btn btn-danger deleteGroup deleteJobLink", @style = "float:right;"});
                                        @Html.Raw(actionLink.ToHtmlString().Replace("REPLACE", linkText))
                                    }
                                </div>
                            </div>

                            <br/>
                            
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="row">
                                        <div class="col-sm-12 text-center">
                                            <span class="glyphicon glyphicon-certificate"></span>&nbsp;&nbsp;
                                            @Html.LabelFor(x => x.Jobs[count].JobTitle, new {@style = "font-weight:normal;position:relative;"})
                                        </div>
                                        <div class="col-sm-12 text-center">
                                            @Html.TextBoxFor(x => x.Jobs[count].JobTitle, new {@class = "form-control namer", style = "margin-bottom: 0px;text-align:center;", placeholder = "Display Name"})
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="row">
                                        <div class="col-sm-12 text-center">
                                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;
                                            @Html.LabelFor(x => x.Jobs[count].CompanyName, new {@style = "font-weight:normal;position:relative;"})
                                        </div>
                                        <div class="col-sm-12 text-center">
                                            @Html.TextBoxFor(x => x.Jobs[count].CompanyName, new {@class = "form-control"})
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <br/>

                            <div class="row">
                                <div class="col-sm-12 text-center">
                                    <span class="glyphicon glyphicon-education"></span>&nbsp;&nbsp;
                                    @Html.LabelFor(x => x.Jobs[count].Description, new {@style = "font-weight:normal;position:relative;"})
                                </div>
                                <div class="col-sm-12 text-center">
                                    @Html.TextAreaFor(x => x.Jobs[count].Description, new {@class = "form-control", @rows="4", @placeholder = "Your job description goes here. Explain your daily duties, etc..." })
                                </div>
                            </div>

                            <br/>

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="row">
                                        <div class="col-sm-12 text-center">
                                            <span class="glyphicon glyphicon-calendar"></span>&nbsp;&nbsp;
                                            @Html.LabelFor(x => x.Jobs[count].StartDate, new { @style = "font-weight:normal;position:relative;" })
                                        </div>
                                        <div class="col-sm-12 text-center">
                                            @Html.TextBoxFor(x => x.Jobs[count].StartDate, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="row">
                                        <div class="col-sm-12 text-center">
                                            <span class="glyphicon glyphicon-calendar"></span>&nbsp;&nbsp;
                                            @Html.LabelFor(x => x.Jobs[count].EndDate, new { @style = "font-weight:normal;position:relative;" })
                                        </div>
                                        <div class="col-sm-12 text-center">
                                            @Html.TextBoxFor(x => x.Jobs[count].EndDate, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12 text-center">
                                    @Html.ValidationMessageFor(x => x.Jobs[count].JobTitle)
                                </div>
                            </div>
                        </li>
                        count++;
                    }
                </ul>
            </div>

            <div class="row">
                <div class="col-sm-offset-2 col-sm-8">
                    <button class="form-control btn btn-success" id="addNewJobLink" type="button" style="border-color: #00bc8c !important; background-color: #00bc8c !important;"><span class="glyphicon glyphicon-plus"></span>&nbsp;Add New Job</button>
                </div>
            </div>

        </div>
    </div>
</div>
