@model devinmajordotcom.ViewModels.SiteLinkViewModel
@{
    var uploadButton = Ajax.ActionLink("REPLACE", "UploadTemplate", "MyHome",
        new AjaxOptions
        {
            HttpMethod = "GET",
            InsertionMode = InsertionMode.Replace,
            OnComplete = "InitializeModal('#formModalImageUploader', 'Image Uploader');",
            OnFailure = "SettingsUpdateFailure();",
            UpdateTargetId = "formModalBodyHolderUpload"
        },
        new
        {
            @class = "btn btn-primary",
            @style = "",
            @onClick = "ResetActiveImage(this)"
        }).ToHtmlString().Replace("REPLACE", "<span class=\"fa fa-upload\"></span>&nbsp;&nbsp;Change Image...");
}

@Scripts.Render("~/bundles/jqueryval")

@using (Ajax.BeginForm("AddEditFavorite", "MyHome", null, new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, OnSuccess = "UpdateFavorites(data);" }, new { @id = "EditFavoriteForm" }))
{

    <style>
        input[type='text'].form-control {
            color:white !important;
        }
        select option {
            color: black;
        }
        select:not(:checked) {
            color: white;
        }
    </style>

    @Html.HiddenFor(x => x.UserID, new { @id = "UserID3" })

    <div class="favoritesFormContainer" style="color: white !important;">
        
        <div class="row">
            <div class="col-sm-12 text-left">
                <span class="glyphicon glyphicon-comment"></span>&nbsp;
                @Html.LabelFor(x => x.DisplayName, new { @style="font-weight:normal;" })
            </div>
            <div clas="col-sm-12 text-center">
                @Html.TextBoxFor(x => x.DisplayName, new {@class = "form-control"})
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                @Html.ValidationMessageFor(x => x.DisplayName)
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-sm-12 text-left">
                <span class="glyphicon glyphicon-comment"></span>&nbsp;
                @Html.LabelFor(x => x.Description, new { @style = "font-weight:normal;" })
            </div>
            <div clas="col-sm-12 text-center">
                @Html.TextBoxFor(x => x.Description, new {@class = "form-control"})
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                @Html.ValidationMessageFor(x => x.Description)
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-sm-12 text-left">
                <span class="glyphicon glyphicon-globe"></span>&nbsp;
                @Html.LabelFor(x => x.URL, new { @style = "font-weight:normal;" })
            </div>
            <div clas="col-sm-12 text-center">
                @Html.TextBoxFor(x => x.URL, new {@class = "form-control"})
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                @Html.ValidationMessageFor(x => x.URL)
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-sm-6 text-left">
                <span class="glyphicon glyphicon-wrench"></span>&nbsp;
                @Html.LabelFor(x => x.IsEnabled, new { @style = "font-weight:normal;" })
            </div>
            <div clas="col-sm-6 text-center">
                <div class="form-group">
                    <div class="checkbox-inline">
                        <label class="switch">
                            @Html.EditorFor(x => x.IsEnabled, new {htmlAttributes = new {@class = "toggler"}})
                            <div class="slider round"></div>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                @Html.ValidationMessageFor(x => x.IsEnabled)
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-sm-12 text-center">
                <span class="glyphicon glyphicon-picture"></span>&nbsp;
                @Html.LabelFor(x => x.BackgroundImage, new { @style = "font-weight:normal;" })
            </div>
            <br/>
            <div clas="col-sm-12 text-center">
                @Html.Hidden("BackgroundImage", Convert.ToBase64String(Model.BackgroundImage), new { @class = "BackgroundImage favoriteBackgroundImage", activeimage="false" })
                <img src="@String.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(Model.BackgroundImage))" id="previewImage" activepreview="false" style="display: inline-block;" class="img-responsive previewImage" alt="Background Image">
                <br/>
                @Html.Raw(uploadButton)
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                @Html.ValidationMessageFor(x => x.BackgroundImage)
            </div>
        </div>

    </div>

    <br/>

    <div class="row">
        <div class="col-sm-12 text-center">
            <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-floppy-disk"></span>&nbsp;&nbsp;Save Changes</button>
        </div>
    </div>

}
