@model List<devinmajordotcom.ViewModels.SiteLinkViewModel>
@{ 
    var linkCount = 1;
    var newRowHtml = "</div><br/><div class='row'>";
}
<div class="row">
    @foreach (var link in Model.Where(x => x.IsEnabled))
    {

        <div class="col-md-3 col-sm-6">
            <div class="work-thumb">
                <a href="@link.URL" target="_blank" class="">
                    <img src="@String.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(link.BackgroundImage))" class="img-responsive" alt="Work">
                    <div class="work-info">
                        <h3>@link.DisplayName</h3>
                        <small>@link.Description</small>
                    </div>
                </a>
            </div>
        </div>

        if (linkCount % 4 == 0)
        {
            @Html.Raw(newRowHtml)
        }

        linkCount++;

    }
</div>