@model devinmajordotcom.ViewModels.MyHomeUserConfigViewModel
@{
    var uploadButton = Ajax.ActionLink("REPLACE", "UploadTemplate", "MyHome",
        new AjaxOptions
        {
            HttpMethod = "GET",
            InsertionMode = InsertionMode.Replace,
            OnComplete = "InitializeModal('#formModalUpload', 'Background Image Uploader');",
            OnFailure = "SettingsUpdateFailure();",
            UpdateTargetId = "formModalBodyHolderUpload"
        },
        new
        {
            @class = "btn btn-primary",
        }).ToHtmlString().Replace("REPLACE", "<span class=\"fa fa-upload\"></span>&nbsp;&nbsp;Change Image...");
}
@using (Html.BeginForm("_HomeSettingsForm", "MyHome"))
{

    @Html.HiddenFor(x => x.UserID)

    <div id="formContainer">

        <div class="row">
            <div class="col-sm-6">
                <span class="glyphicon glyphicon-comment"></span>&nbsp;&nbsp;
                @Html.LabelFor(x => x.Greeting, new { style = "font-weight:normal;" })
            </div>
            <div class="col-sm-6">
                @Html.TextBoxFor(x => x.Greeting, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                @Html.ValidationMessageFor(x => x.Greeting)
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <span class="glyphicon glyphicon-comment"></span>&nbsp;&nbsp;
                @Html.LabelFor(x => x.BookmarksTitle, new { style = "font-weight:normal;" })
            </div>
            <div class="col-sm-6">
                @Html.TextBoxFor(x => x.BookmarksTitle, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                @Html.ValidationMessageFor(x => x.BookmarksTitle)
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <span class="glyphicon glyphicon-comment"></span>&nbsp;&nbsp;
                @Html.LabelFor(x => x.BlogTitle, new { style = "font-weight:normal;" })
            </div>
            <div class="col-sm-6">
                @Html.TextBoxFor(x => x.BlogTitle, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                @Html.ValidationMessageFor(x => x.BlogTitle)
            </div>
        </div>

        <hr/>

        <div class="row">
            <div class="col-sm-6">
                <span class="glyphicon glyphicon-wrench"></span>&nbsp;&nbsp;
                @Html.LabelFor(x => x.ShowBanner, new { style = "font-weight:normal;" })
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <div class="checkbox-inline">
                        <label class="switch">
                            @Html.EditorFor(x => x.ShowBanner, new { htmlAttributes = new { @class = "toggler" } })
                            <div class="slider round"></div>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                @Html.ValidationMessageFor(x => x.ShowBanner)
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <span class="glyphicon glyphicon-wrench"></span>&nbsp;&nbsp;
                @Html.LabelFor(x => x.ShowDateAndTime, new { style = "font-weight:normal;" })
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <div class="checkbox-inline">
                        <label class="switch">
                            @Html.EditorFor(x => x.ShowDateAndTime, new { htmlAttributes = new { @class = "toggler" } })
                            <div class="slider round"></div>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                @Html.ValidationMessageFor(x => x.ShowDateAndTime)
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <span class="glyphicon glyphicon-wrench"></span>&nbsp;&nbsp;
                @Html.LabelFor(x => x.ShowWeather, new { style = "font-weight:normal;" })
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <div class="checkbox-inline">
                        <label class="switch">
                            @Html.EditorFor(x => x.ShowWeather, new { htmlAttributes = new { @class = "toggler" } })
                            <div class="slider round"></div>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                @Html.ValidationMessageFor(x => x.ShowWeather)
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <span class="glyphicon glyphicon-wrench"></span>&nbsp;&nbsp;
                @Html.LabelFor(x => x.ShowBookmarks, new { style = "font-weight:normal;" })
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <div class="checkbox-inline">
                        <label class="switch">
                            @Html.EditorFor(x => x.ShowBookmarks, new { htmlAttributes = new { @class = "toggler" } })
                            <div class="slider round"></div>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                @Html.ValidationMessageFor(x => x.ShowBookmarks)
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <span class="glyphicon glyphicon-wrench"></span>&nbsp;&nbsp;
                @Html.LabelFor(x => x.ShowBlog, new { style = "font-weight:normal;" })
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <div class="checkbox-inline">
                        <label class="switch">
                            @Html.EditorFor(x => x.ShowBlog, new { htmlAttributes = new { @class = "toggler" } })
                            <div class="slider round"></div>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                @Html.ValidationMessageFor(x => x.ShowBlog)
            </div>
        </div>

        <br />
        
        <div class="row">
            <div class="col-sm-6">
                <span class="glyphicon glyphicon-wrench"></span>&nbsp;&nbsp;
                @Html.LabelFor(x => x.BackgroundImage, new { style = "font-weight:normal;" })
            </div>
            <div class="col-sm-6">
                @Html.Raw(uploadButton)
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                @Html.ValidationMessageFor(x => x.ShowBlog)
            </div>
        </div>

        <br />

        @{
            var link = Html.ActionLink("REPLACE", "Logout", null, new { @class = "btn btn-primary" }).ToHtmlString();
            var cleanLink = link.Replace("REPLACE", "<span class=\"glyphicon glyphicon-log-out\"></span>&nbsp;Log Out");
        }

        <div class="row">
            <div class="col-sm-6 text-center" style="margin-bottom:5px;">
                <button type="submit" class="btn btns-success"><span class="glyphicon glyphicon-save"></span>&nbsp;Save Settings</button>
            </div>
            <div class="col-sm-6 text-center" style="margin-bottom:5px;">
                @Html.Raw(cleanLink)
            </div>
        </div>

    </div>
}