@model devinmajordotcom.ViewModels.MyHomeViewModel
@{
    Layout = "../Shared/_HomeLayout.cshtml";
}

<!-- HOME -->
<section id="home" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container" style="">
        <div class="row">
            
            <div class="col-sm-12 text-center">
                <h2>Welcome Home, Devin!</h2>
            </div>
            <div class="col-sm-12 text-center">
                It is currently 2:40PM, on Saturday December 12th, 2017.
            </div>

        </div>

        <div id="spacerDiv" style="min-height: 65vh;"></div>

        <div class="row" style="">
            <div class="col-sm-12 text-center">
                <p>Weather widget thing will go here</p>
            </div>
        </div>

    </div>
</section>

<!-- WORK -->
<section id="work" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-sm-12">
                <div class="section-title">
                    <h2>My Favorites & Bookmarks</h2>
                    <span class="line-bar">...</span>
                </div>
            </div>
            
            @foreach (var link in Model.FavoritesAndBookmarks)
            {
                <div class="col-md-3 col-sm-6">
                    <div class="work-thumb">
                        <a href="@link.URL" class="image-popup">
                            <img src="@String.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(link.EncodedImage))" class="img-responsive" alt="Work">
                            <div class="work-info">
                                <h3>@link.DisplayName</h3>
                                <small>@link.Description</small>
                            </div>
                        </a>
                    </div>
                </div>
            }

        </div>
    </div>
    
</section>

<!-- BLOG -->
<section id="blog" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-sm-12">
                <div class="section-title">
                    <h2>My Blog & Notes</h2>
                    <span class="line-bar">...</span>
                </div>
            </div>

            <div class="col-md-6 col-sm-6">
                <!-- BLOG THUMB -->
                <div class="media blog-thumb">
                    <div class="media-object media-left">
                        <a href="blog-detail.html"><img src="@Url.Content("~/Content/HomeImages/blog-image1.jpg")" class="img-responsive" alt=""></a>
                    </div>
                    <div class="media-body blog-info">
                        <small><i class="fa fa-clock-o"></i> December 22, 2017</small>
                        <h3><a href="blog-detail.html">How To Find Out Beautiful Workspace.</a>
                        </h3>
                        <p>Lorem ipsum dolor sit consectetur adipiscing morbi venenatis.</p>
                        <a href="blog-detail.html" class="btn section-btn">Read article</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-6">
                <!-- BLOG THUMB -->
                <div class="media blog-thumb">
                    <div class="media-object media-left">
                        <a href="blog-detail.html"><img src="@Url.Content("~/Content/HomeImages/blog-image2.jpg")" class="img-responsive" alt=""></a>
                    </div>
                    <div class="media-body blog-info">
                        <small><i class="fa fa-clock-o"></i> December 18, 2017</small>
                        <h3><a href="blog-detail.html">woman sportwear.</a>
                        </h3>
                        <p>Lorem ipsum dolor sit consectetur adipiscing morbi venenatis.</p>
                        <a href="blog-detail.html" class="btn section-btn">Read more</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-6">
                <!-- BLOG THUMB -->
                <div class="media blog-thumb">
                    <div class="media-object media-left">
                        <a href="blog-detail.html"><img src="@Url.Content("~/Content/HomeImages/blog-image3.jpg")" class="img-responsive" alt=""></a>
                    </div>
                    <div class="media-body blog-info">
                        <small><i class="fa fa-clock-o"></i> December 14, 2017</small>
                        <h3><a href="blog-detail.html">new creative fashion.</a>
                        </h3>
                        <p>Lorem ipsum dolor sit consectetur adipiscing morbi venenatis.</p>
                        <a href="blog-detail.html" class="btn section-btn">Read article</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-6">
                <!-- BLOG THUMB -->
                <div class="media blog-thumb">
                    <div class="media-object media-left">
                        <a href="blog-detail.html"><img src="@Url.Content("~/Content/HomeImages/blog-image4.jpg")" class="img-responsive" alt=""></a>
                    </div>
                    <div class="media-body blog-info">
                        <small><i class="fa fa-clock-o"></i> December 10, 2017</small>
                        <h3><a href="blog-detail.html">minimalist design trend in 2018.</a>
                        </h3>
                        <p>Lorem ipsum dolor sit consectetur adipiscing morbi venenatis.</p>
                        <a href="blog-detail.html" class="btn section-btn">View Detail</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>


<!-- MODAL -->
<section class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content modal-popup">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">

                        <div class="col-md-12 col-sm-12">
                            <div class="modal-title">
                                <h2>MyHome</h2>
                            </div>

                            <!-- NAV TABS -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="active"><a href="#sign_up" aria-controls="sign_up" role="tab" data-toggle="tab">Create an account</a></li>
                                <li><a href="#sign_in" aria-controls="sign_in" role="tab" data-toggle="tab">Sign In</a></li>
                            </ul>

                            <!-- TAB PANES -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade in active" id="sign_up">
                                    <form action="#" method="post">
                                        <input type="text" class="form-control" name="name" placeholder="Name" required>
                                        <input type="telephone" class="form-control" name="telephone" placeholder="Telephone" required>
                                        <input type="email" class="form-control" name="email" placeholder="Email" required>
                                        <input type="password" class="form-control" name="password" placeholder="Password" required>
                                        <input type="submit" class="form-control" name="submit" value="Submit Button">
                                    </form>
                                </div>

                                <div role="tabpanel" class="tab-pane fade in" id="sign_in">
                                    <form action="#" method="post">
                                        <input type="email" class="form-control" name="email" placeholder="Email" required>
                                        <input type="password" class="form-control" name="password" placeholder="Password" required>
                                        <input type="submit" class="form-control" name="submit" value="Submit Button">
                                        <a href="https://www.facebook.com/templatemo">Forgot your password?</a>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>